.scroll-left {
  height: 50px; 
  overflow: hidden;
  position: relative;
  width: 75%;
  height: 71vh;
}
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0;
  padding-top: 20%;
  line-height: 50px;
  text-align: center;

    transform:translateX(100%);

    animation: scroll-left 20s linear infinite;
  }

  @keyframes scroll-left {
    0% { 
    transform: translateX(100%); 
    }
    100% { 
    transform: translateX(-100%); 
    }
  }