.scroll-left {
  height: 50px; 
  overflow: hidden;
  position: relative;
  width: 75%;
  height: 71vh;
}

.scroll-left > div{
  width: 100%;
  height: 100%;
  background-image: url(../img/nuage-de-mots.jpg);
  background-size: 100%;
  float: right;
  opacity: 0.25;
}

.scroll-left > p{
  background-color: rgba(255, 255, 255, 0.247);
  border-radius: 100%;
}

  .scroll-left > p {
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0;
  padding-top: 20%;
  line-height: 50px;
  text-align: center;

    transform:translateX(100%);

    animation: scroll-left 20s linear infinite;
  }

  @keyframes scroll-left {
    0% { 
    transform: translateX(100%); 
    }
    100% { 
    transform: translateX(-100%); 
    }
  }